body {
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
  font-family: inherit;
  color:goldenrod;
  width: 50%;  
}

.machine_controls { 
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
background-color: wheat;
width: fit-content;
height: min-content;  
border: 3px solid whitesmoke;
border-radius: 3px;
text-align: center;
color: brown;
font-size: larger;
font-family: inherit;

}

.machine_controls > div {
 margin: 5px 0 15px 0;
}

.buttons > div {
  background-color: whitesmoke;
  width: 60px;
  height: 25px;
  margin: 5px 45px 5px 45px;
  border-radius: 5px;
}

#make_coffee {
  width: 75%;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 10px auto 10px auto;
  cursor: pointer;
  background-color: brown;
  color: whitesmoke;
}

.buttons > button {
  cursor: pointer;
  background-color: brown;
  color: whitesmoke;
}