html {
    background-color: #f5ffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
        color: #a33f2e;
}

#question-container {

    padding: 25px;

}

fieldset {
    border: none;
}

.question_fldst {

    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-around;
    border: dotted 2px orange;
}

fieldset#choices {

    display: flex;
    flex-direction: column;
    
}

fieldset#choices > div {

    padding: 15px;
}

fieldset#choices > div:focus-within {

    background-color: #9dafff;
    color: #fff

}

label {
    padding: 10px;
}

button#next_btn {
    cursor: pointer;
    align-self: center;
}

button#next_btn:disabled {
    cursor: not-allowed;
}

button#verify_btn {
    cursor: pointer;
    align-self: center;
}

button#verify_btn:disabled {
    cursor: not-allowed;
}

div#feedback_correct > p#correct {
    background-color: #d3d3d3;
    color: #185300;
    font-weight: bold;
}

div#feedback_incorrect > p#incorrect {
    background-color: #d3d3d3;
    color: #700018;
    font-weight: bold;
}