html {

    font-family: Arial, Helvetica, sans-serif;

}

fieldset#choices > div:focus-within {

    background-color: #f6f6f6;

}

div#feedback_correct > p#correct {
    color: #185300;
    font-weight: bold;
}

div#feedback_incorrect > p#incorrect {
    color: #700018;
    font-weight: bold;
}